In [1]:
# Write a program to accept percentage from the user and display gradde

In [7]:
user1=int(input('what is your marks? '))

what is your marks? 89

In [8]:
if user1>90:
  print('your grade is "A"')
elif user1>80 and user1<=90:
    print('your grade is "B"')
elif user1>=60 and user1<=80:
  print('Your grade is "C"')
elif user1<60:
  print('Your Grade is D')

your grade is "B"

In [9]:
#Write a program to accept the cost price of a bike and display the road tax to be paid according to the following criteria

In [17]:
bike_cost=int(input('what is the cost of your bike? : '))

what is the cost of your bike? : 50000

In [18]:
if bike_cost>100000:
  print('The tax to be paid is {}'.format(bike_cost*15/100))
elif bike_cost>50000 and bike_cost<=100000:
  print('This tax to be paid is {}'.format(bike_cost*10/100))
elif bike_cost<=50000:
  print('This tax to be paid is {}'.format(bike_cost*5/100))

This tax to be paid is 250.0

In [19]:
#Accept any city from the user and display the monumnets of that city

In [22]:
user_city=input('what is ur city?').upper()

what is ur city?agra

In [24]:
if user_city=='DELHI':
  print('Red Fort')
elif user_city=='AGRA':
  print('Taj Mahal')
elif user_city=='JAIPUR':
  print('Jal Mahal')

Taj Mahal

In [25]:
#4 Check how many times a given number can be divided by 3 before it is less than or equal to 10

In [26]:
for i in range(1,11):
  if i%3==0:
    print(i)

3
6
9

In [27]:
#5. While loop is used only if a condition is True

In [30]:
age=50
while age<=50:
  age=age+1

In [31]:
age

51

In [32]:
#6 and 7 Reverse a while loop t print numbers from 10 to 1

In [37]:
i=10
while i>0:
  i=i-1

In [38]:
i

0

In [39]:
# 5using nested loop print 2 different pattern

In [40]:
rows=6
for i in range(rows):
  for j in range(i):
    print(i, end=' ')
  print(' ')

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [42]:
rows=5
for i in range(1, rows+1):
  for j in range(i, i +1 ):
    print(j , end=' ')
  print('')

1
2
3
4
5

In [43]:
rows=5
b=0
for i in range(rows, 0,-1):
  b+=1
  for j in range(1,i+1):
    print(b, end=' ')
  print('\r')

1 1 1 1 1
2 2 2 2
3 3 3
4 4
5