In [1]:
#1. Characteristics of tuples: Tuples can store any kind of values, can be a integer or a string . but it cannot store a lists as lists are mutable. Tuples are immutable i.e
#We cannot replace a value of a tuple like how we do in a list

In [6]:
#2 . 2 tuple methods are count and index. # Tuples have only 2 inbuilt function as it is immutable
a=(1,2,3,4,'sdsds')
a.count(4)

1

In [7]:
a.index(2)

1

In [8]:
#3 Sets do not allow duplicate items
List = [1, 1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4]

In [9]:
set(List)

{1, 2, 3, 4}

In [18]:
#4 Difference between union and update method in set
a={1,2,3434,5,54}
b={'abc',123,'sdsd'}
a1=a.union(b)

In [27]:
b

{123, 'abc', 'sdsd'}

In [28]:
a

{1, 2, 5, 54, 3434}

In [19]:
a1

{1, 123, 2, 3434, 5, 54, 'abc', 'sdsd'}

In [29]:
#Union method joins the 2 sets

In [30]:
c={1323,232,'asad'}
d={'323','sdsd',23}
e=c.update(d)

In [31]:
e

In [32]:
d

{23, '323', 'sdsd'}

In [33]:
c

{1323, 23, 232, '323', 'asad', 'sdsd'}

In [34]:
# UPdate method updates d values inside the c variable

In [35]:
#5. Dictionary is a set containing key and value pairs. Example:
a={12:'abc','ask':123}

In [37]:
#Dictionary is ordered

In [47]:
#6. Yes we can create a nested dictionary: Example:
a20={'class':['data science','DSA','MCA'],'name':{'miriam','Teja','purva'}}

In [48]:
a20

{'class': ['data science', 'DSA', 'MCA'], 'name': {'Teja', 'miriam', 'purva'}}

In [49]:
#7 set default method 
dict1 = {'language' : 'Python', 'course': ['Data Science Masters','Python','Machine Learning','Deep Learning']}

In [50]:
dict1.setdefault('course')

['Data Science Masters', 'Python', 'Machine Learning', 'Deep Learning']

In [58]:
#8. 2 View objects in dictionary #1. Key, 2. Values 3. items()

In [53]:
dict2 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}

In [54]:
dict2.values()

dict_values(['Cricket', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']])

In [55]:
dict2.keys()

dict_keys(['Sport', 'Teams'])

In [57]:
dict2['Sport']

'Cricket'

In [59]:
dict2.items()

dict_items([('Sport', 'Cricket'), ('Teams', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand'])])